# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/artifacts/SharonTester_ear_exploded.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
META-INF/application.xml
SharonTester.iml
src/META-INF/MANIFEST.MF
src/com/company/Main.java
src/com/company/P2TestSharOn.java
src/mvn/app/Client.java
src/mvn/app/Server.java
src/mvn/serialization/ErrorType.java
src/mvn/serialization/Packet.java
src/mvn/serialization/PacketType.java
src/mvn/serialization/test/ErrorTypeTest.java
src/mvn/serialization/test/PacketTest.java
src/mvn/serialization/test/PacketTypeTest.java
src/sharon/app/Node.java
src/sharon/serialization/BadAttributeValueException.java
src/sharon/serialization/Message.java
src/sharon/serialization/MessageInput.java
src/sharon/serialization/MessageOutput.java
src/sharon/serialization/Response.java
src/sharon/serialization/Result.java
src/sharon/serialization/RoutingService.java
src/sharon/serialization/Search.java
src/sharon/serialization/test/BadAttributeValueExceptionTest.java
src/sharon/serialization/test/MessageInputTest.java
src/sharon/serialization/test/MessageOutputTest.java
src/sharon/serialization/test/ResponseTest.java
src/sharon/serialization/test/ResultExceptionsTest.java
src/sharon/serialization/test/ResultTest.java
src/sharon/serialization/test/RoutingServiceTest.java
src/sharon/serialization/test/SearchTest.java
